* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #ffffff);
    color: #fff;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.cancel-button {
    background-color: rgb(243, 243, 9);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: #ffe135;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.titulo-ejercicio {
    font-size: 36px;
    margin: 60px;
}

.imagen-container {
    position: relative;
    width: 80%;
    max-width: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.descripcion-ejercicio {
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    color: #fff;
    background: linear-gradient(to bottom, #2B3034, #5e6a6b);
    padding: 20px;
    border-radius: 10px;
}

.input-titulo {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.input-descripcion {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.guardar-button {
    background-color: rgb(243, 243, 9);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.guardar-button:hover {
    background-color: #ffe135;
}