* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.cancel-button {
    background-color: #ffd000;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #ebc000;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Espaciado vertical con respecto a otros elementos */
    gap: 20px; /* Espaciado consistente entre elementos */
}

.contenedor h2 {
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-bottom: 10px; /* Espaciado inferior */
}

.contenedor input,
.contenedor textarea,
.contenedor .imagen-container,
.contenedor .dropdown,
.contenedor .musculo,
.contenedor .guardar-button {
    width: 100%; /* Asegura que todos los elementos se alineen */
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px; /* Espaciado entre los elementos */
}

.contenedor textarea {
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-descripcion {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.input-descripcion:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.contenedor .imagen-container img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.contenedor button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    max-width: 450px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.contenedor .guardar-button {
    background-color: #ffd000;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor .guardar-button:hover {
    background-color: #ebc000;
}

.input-titulo {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.input-titulo:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.image-uploader {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    margin: 20px auto;
    transition: border-color 0.3s ease;
}

.image-uploader:hover {
    border-color: #ffd000;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.upload-label img.upload-icon {
    max-width: 200px;
    margin-bottom: 10px;
}

.upload-label p {
    font-size: 14px;
    color: #666666;
}

.upload-input {
    display: none;
}

.preview-container {
    margin-top: 15px;
    display: none;
}

.preview-container img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown, .musculo {
    position: relative;
    display: inline-block;
}

.dropdown-menu, .musculo-menu{
    display: none;
    position: absolute;
    left: 50%;  /* Centra el menú horizontalmente */
    transform: translateX(-50%);  /* Ajusta la posición para que quede perfectamente centrado */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;
    z-index: 1;
}

.dropdown button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.musculo button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown button:hover {
    background-color: #0056b3;
}

.musculo button:hover {
    background-color: #218838;
}

.dropdown-menu a, .musculo-menu a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.musculo-menu a:hover {
    background-color: #f1f1f1;
}