* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color de texto */
    padding: 10px; /* Espacio interno */
    text-align: center;
  }
  

.container footer {
    display: flex; /* Activa el contexto flex */
    flex-direction: column; /* Cambia la dirección a columna */
    padding: 20px; /* Espaciado interno */
    background-color: #20292f; /* Color de fondo */
}

.logo2 {
    display: flex; /* Activa el contexto flex */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
}

.container-footer hr {
    width: 80%; /* Ajusta el ancho del <hr> al 80% del contenedor */
    margin: 20px auto; /* Centra el <hr> y añade margen superior e inferior */
    border: 0.5px solid #ccc; /* Define el grosor y color del borde */
    height: 0; /* Elimina la altura por defecto del <hr> */
}

.social-media h2 {
    display: flex; /* Activa el contexto flex */
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    font-size: 24px;
    color: #fff;
}

.icons {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los iconos horizontalmente */
    align-items: center; /* Centra los iconos verticalmente */
    gap: 100px; /* Espacio entre los iconos (puedes ajustarlo según tu necesidad) */
}

.icons span {
    font-size: 20px;
    color: #fff;
}

.footer-links {
    padding-top: 20px; /* Espaciado superior */
    display: flex; /* Convertimos el contenedor en un flexbox */
    flex-direction: column; /* Cambiamos la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espaciado entre las columnas */
    color: yellow; /* Color de texto */
    font-weight: bold; /* Negrita */
}

.footer-links p {
    margin: 0; /* Elimina los márgenes de los párrafos */
    padding: 5px; /* Espaciado interno para cada elemento */
}


.footer-links p:hover {
    text-decoration: underline;
}
