/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7e7e7;
    color: #333;
    min-height: 50vh; /* Altura mínima igual a la ventana */
}

/* Login Section */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ocupa el 100% de la altura de la ventana */
    background-color: #e7e7e7;
}

.icon-container img {
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-button {
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}

.submit-button {
    background-color: yellow;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 500px; /* Ajusta la posición 100px hacia la derecha */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}

.submit-button:hover {
    transform: scale(1.1);
}

.check-icon {
    font-size: 24px;
    color: black;
}

.crear-cuenta ul{
    position: relative; /* Posición relativa para el contenedor */
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el relleno de la lista */
    margin: 0; /* Eliminar el margen de la lista */
    display: flex; /* Alinear los elementos en una sola línea */
    align-items: center; /* Alinear verticalmente al centro */
}

.crear-cuenta li{
    font-size: 20px;
    list-style-type: none; /* Eliminar los puntos */
    padding: 0; /* Eliminar el relleno de la lista */
    margin: 0; /* Eliminar el margen de la lista */
    display: flex; /* Alinear los elementos en línea */
    align-items: center; /* Alinear verticalmente al centro */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    color: #000000; /* Color del enlace */
    font-weight: bold; /* Negrita para el enlace */
}

.crear-cuenta li a {
    text-decoration: none; /* Eliminar el subrayado del enlace */
    color: #f1ff2f; /* Color del enlace */
    font-weight: bold; /* Negrita para el enlace */
    margin-right: 10px; /* Añadir espacio entre los elementos de la lista */
}

.crear-cuenta li a:hover {
    text-decoration: underline; /* Aumentar el tamaño del enlace al pasar el ratón */
}
