* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fff;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; 
}

.texto-inicial {
    color: #333; /* Cambiar el color del texto a un tono gris oscuro */
    font-size: 18px; /* Un tamaño de fuente ligeramente más pequeño */
    text-align: center; /* Centrar el texto */
    background-color: #b1b1b1; /* Fondo con degradado */
    padding: 20px; /* Espacio interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 1500px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor */
    line-height: 1.6; /* Mejorar la separación entre líneas */
    font-weight: 600; /* Añadir un poco de peso a la fuente */
}

.texto-inicial p {
    margin: 0; /* Eliminar el margen del párrafo */
}


p {
    color: black;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600; 
}

.ejercicios-section h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    width: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.ejercicios-con-maquina {
    margin-left: 5%; 
    margin-right: auto; 
}
.ejercicios-sin-maquina {
    margin-right: 5%; 
    margin-left: auto; 
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px; /* Limita el ancho de cada contenedor */
    margin-bottom: 20px; /* Espacio inferior para dispositivos móviles */
}

.ejercicios-con-maquina h2, .ejercicios-sin-maquina h2 {
    font-size: 28px;
    background-color: #ffd000;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}


.grid-ejercicios {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px; 
    justify-items: center; 
    align-items: center; 
    list-style-type: none; 
}

/* Ajustes para pantallas más pequeñas */

@media (max-width: 1200px) {
    .grid-ejercicios {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Mantén 3 columnas con tamaño mínimo */
        grid-template-rows: auto; /* Ajusta el número de filas automáticamente */
    }
}
@media (max-width: 1194px) {
    .grid-ejercicios {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Ajusta a 2 columnas */
    }
}

@media (max-width: 900px) {
    .grid-ejercicios {
        grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Ajusta a 1 columna */
    }
}


.ejercicio img {
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.ejercicio:hover {
    transform: scale(1.1);
}

.ejercicio-add img {
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.ejercicio-add:hover {
    transform: scale(1.1);
    opacity: 0.5; 
}