* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fff;
}

.ejercicios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* Aumenta el espacio desde la parte superior */
}

.ejercicios-section h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para destacar el contenedor */
}

.ejercicios-sin-maquina h2, .ejercicios-con-maquina h2 {
    font-size: 30px;
    background-color: #ffd000;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}

.grid-ejercicios {
    display: grid; /* Activa el contexto de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-template-rows: repeat(2, 1fr); /* 2 filas iguales */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px; /* Espacio interno alrededor del contenedor */
    justify-items: center; /* Centra los elementos en cada celda */
    align-items: center; /* Centra los elementos verticalmente */
    list-style-type: none; /* Elimina los puntos de la lista */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1200px) {
    .grid-ejercicios {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Mantén 3 columnas con tamaño mínimo */
        grid-template-rows: auto; /* Ajusta el número de filas automáticamente */
    }
}

@media (max-width: 1151px) {
    .grid-ejercicios {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Ajusta a 2 columnas */
    }
}

@media (max-width: 618px) {
    .grid-ejercicios {
        grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Ajusta a 1 columna */
    }
}

.ejercicio {
    position: relative; /* Necesario para ajustar el contenedor de la imagen */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de su celda */
    padding-top: 100%; /* Proporción 1:1 (misma altura y ancho) */
    overflow: hidden; /* Esconde el contenido que se salga del contenedor */
    border-radius: 5px; /* Bordes redondeados para el contenedor */
}

.ejercicio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la imagen dentro del contenedor y la ajusta a la proporción */
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.ejercicio:hover {
    transform: scale(1.1);
}

.ejercicio-add img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Añade transición para la opacidad */
}

.ejercicio-add:hover {
    transform: scale(1.1);
    opacity: 0.5; /* Aplica 50% de transparencia a la imagen */
}

