body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #00680e;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #cae2c7ad;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
        
    color: #333;
}

p {
    margin: 10px 0;
}
    
    ul {
    margin: 10px 0 10px 20px;
}