* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position:fixed;
    top: 0%;
    width: 100%;
    background-color: #20292f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    border: 2px solid #fff;
    border-radius: 5px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #fff;
}

.ejercicios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#527374,#b55e39);
    padding-top: 100px;
}

.ejercicios-section h1 {
    text-align: center;
    font-size: 36px;
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px yellow;
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    width: 90%;
    background-color: #3E3E3E;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.ejercicios-sin-maquina h2, .ejercicios-con-maquina h2 {
    font-size: 30px;
    background-color: yellow;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grid-ejercicios {
    display: grid; /* Activa el contexto de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-template-rows: repeat(2, 1fr); /* 2 filas iguales */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px; /* Espacio interno alrededor del contenedor */
    justify-items: center; /* Centra los elementos en cada celda */
    align-items: center;
}

.ejercicio img {
    width: auto;
    height: auto;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color de texto */
    text-align: center;
  }
  

.container footer {
    display: flex; /* Activa el contexto flex */
    flex-direction: column; /* Cambia la dirección a columna */
    padding: 20px; /* Espaciado interno */
    background-color: #20292f; /* Color de fondo */
}

.logo2 {
    display: flex; /* Activa el contexto flex */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

.container-footer hr {
    width: 80%; /* Ajusta el ancho del <hr> al 80% del contenedor */
    margin: 20px auto; /* Centra el <hr> y añade margen superior e inferior */
    border: 0.5px solid #ccc; /* Define el grosor y color del borde */
    height: 0; /* Elimina la altura por defecto del <hr> */
}

.social-media h2 {
    display: flex; /* Activa el contexto flex */
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff;
}

.icons {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los iconos horizontalmente */
    align-items: center; /* Centra los iconos verticalmente */
    gap: 100px; /* Espacio entre los iconos (puedes ajustarlo según tu necesidad) */
    padding: 20px; /* Espaciado interno para el contenedor, opcional */
}

.icons span {
    font-size: 20px;
    color: #fff;
}

.footer-links {
    padding-top: 60px; /* Espaciado superior */
    display: flex; /* Convertimos el contenedor en un flexbox */
    flex-direction: column; /* Cambiamos la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espaciado entre las columnas */
    color: yellow; /* Color de texto */
    font-weight: bold; /* Negrita */
}

.footer-links p {
    margin: 0; /* Elimina los márgenes de los párrafos */
    padding: 10px 0; /* Espaciado interno para cada elemento */
    font-size: large; /* Tamaño de fuente */
}


.footer-links p:hover {
    text-decoration: underline;
}