/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: -10px;
}

/* Login Section */
.login-container {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #e7e7e7;
}

.icon-container img {
    width: 100px;
    height: 100px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-button {
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}

.submit-button {
    background-color: yellow;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 500px; /* Ajusta la posición 100px hacia la derecha */
    position: relative;
    top: -80px; /* Sube el botón 40px hacia arriba */
    float: right;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
}

.submit-button:hover {
    transform: scale(1.1);
}

.check-icon {
    font-size: 24px;
    color: black;
}
