* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fff;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:40px;
}

.titulo h1{
    margin-top: 60px;
    color: black;
    font-weight: 700;
    font-size: 60px;
}

.texto-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    color: #333;
    font-size: 18px;
    text-align: center;
    background-color: #b1b1b1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    line-height: 1.6;
    font-weight: 600;
}

.texto-inicial p {
    margin: 0; /* Eliminar el margen del párrafo */
    padding: 20px; /* Espacio interno */
}

p {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.ejercicios-section h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.ejercicios-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinea los contenedores en la parte superior */
    justify-content: center; /* Centra los contenedores en el espacio disponible */
    gap: 40px; /* Espacio entre los dos contenedores */
    padding-top: 60px; /* Aumenta el espacio desde la parte superior */
    margin: 40px;
    flex-wrap: wrap; /* Permite que se ajusten en varias filas si no hay suficiente espacio */
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px; /* Limita el ancho de cada contenedor */
    margin-bottom: 20px; /* Espacio inferior para dispositivos móviles */
}

.ejercicios-con-maquina h2, .ejercicios-sin-maquina h2 {
    font-size: 28px;
    background-color: #ffd000;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.grid-ejercicios {
    display: grid; /* Activa el contexto de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-template-rows: repeat(2, 1fr); /* 2 filas iguales */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px; /* Espacio interno alrededor del contenedor */
    justify-items: center; /* Centra los elementos en cada celda */
    align-items: center; /* Centra los elementos verticalmente */
    list-style-type: none; /* Elimina los puntos de la lista */
}

/* Ajustes para pantallas más pequeñas */

@media (max-width: 1200px) {
    .grid-ejercicios {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Ajusta a 2 columnas */
        gap: 20px; /* Mantén el espacio entre las columnas */
        padding: 10px; /* Ajusta el espacio interno */
    }
}
@media (max-width: 1194px) {
    .grid-ejercicios {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Ajusta a 2 columnas */
        gap: 10px; /* Mantén el espacio entre las columnas */
        padding: 10px; /* Ajusta el espacio interno */
    }
}

@media (max-width: 900px) {
    .grid-ejercicios {
        grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Ajusta a 1 columna */
        gap: 15px; /* Espacio entre los elementos para evitar que se vean muy juntos */
        padding: 5px; /* Ajuste de espacio para pantallas muy pequeñas */
    }
}


.ejercicio img {
    border-radius: 5px;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Añade transición para la opacidad */
}

.ejercicio:hover {
    transform: scale(1.1);
}

.ejercicio-add img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Añade transición para la opacidad */
}

.ejercicio-add:hover {
    transform: scale(1.1);
    opacity: 0.5; /* Aplica 50% de transparencia a la imagen */
}
