* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2B3034;
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: yellow;
    margin-bottom: 20px;
}

.ejercicios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ejercicios-con-maquina, .ejercicios-sin-maquina {
    width: 90%;
    background-color: #3E3E3E;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    background-color: yellow;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.grid-ejercicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ejercicio img {
    width: 100%;
    height: auto;
    border: 3px solid yellow;
    border-radius: 10px;
}

/* Agrega algo de margen inferior a las secciones para que no estén tan juntas */
.ejercicios-con-maquina {
    margin-bottom: 40px;
}

.ejercicios-sin-maquina {
    margin-bottom: 40px;
}
