* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa toda la anchura de la ventana */
    overflow: hidden; /* Elimina los scrolls */
}

.slider {
    display: flex;
    flex-direction: column;
    background-color: #4c6d6f;
    position: relative;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Asegura que ocupe el ancho total del contenedor */
    height: 100%; /* Asegura que ocupe la altura total del contenedor */
}

.slide {
    min-width: 100%;
    height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover; /* Ajusta la imagen sin perder proporción */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}
